In [3]:
import pandas as pd
from sklearn.datasets import load_iris
iris= load_iris()

In [4]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [5]:
df=pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [18]:
df['target']=iris.target
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [13]:
df['flower_name']=df.target.apply(lambda x: iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),Target,target,Flower_name,flower_name
0,5.1,3.5,1.4,0.2,0,0,setosa,setosa
1,4.9,3.0,1.4,0.2,0,0,setosa,setosa
2,4.7,3.2,1.3,0.2,0,0,setosa,setosa
3,4.6,3.1,1.5,0.2,0,0,setosa,setosa
4,5.0,3.6,1.4,0.2,0,0,setosa,setosa

In [12]:
from sklearn.model_selection import train_test_split

In [20]:
x=df.drop(['target','flower_name'],axis='columns')
x.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [22]:
y=df.target

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [26]:
from sklearn.svm import SVC
model=SVC(gamma='scale')

In [27]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9333333333333333